<div class="jumbotron">

  <h1><%= @stylist.name() %></h1>

  <form  action="/stylist_list" method="post">
    <input type="hidden" name="name" value="<%= @stylist.id() %>">
    <input type="hidden" name="_method" value="delete">

    <button type="submit" class="btn btn-danger">Delete stylist</button>
  </form>

  <% if @stylist.clients().any?() %>
    <h3>Here are all the clients for this stylist:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
    <li><%= client.title() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no clients for this stylist!</p>
  <% end %>
</div>

<div class="form">
  <h3>Add a client to <%= @stylist.name()%>:</h3>

  <form action="/stylist/:id" method="post">
      <label for="client_name">Name of the client:</label>
      <input id="client_name" name="client_name" type="text">
      <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

      <button type="submit" class="btn btn-danger">Add client</button>
  </form>
</div>

  <br></br>

  <div class="link">
    <a href="/stylist_list">Return to Stylist List</a>
  </div>

  <div class="link">
    <a href="/">Return to Homepage</a>
  </div>
